*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* variables */
:root{
    --primary-color:#4458dc;
   --secondary-color: #854fee;
   --bg-white: #fff;
   --bg-light: #faf8ff;
   --bg-black: #000;
   --bg-gray: #eee;
   --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
/* Font Family */
--primary-font: 'Rubik', sans-serif;
--secondary-font: 'Roboto', sans-serif;
} 
.navbar{
    background-color:var(--bg-white);
    /* border-bottom:1px solid grey; */
}
.navbar-brand img
{
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 200px;
    
    /* margin-top: 8px  ; */

}

.nav-link{
    color:black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
text-decoration: none;
border-color: var(--bg-black);
}

.nav-link:hover{
    color:var(--bg-light);
    background-image: var(--gradient);
    border-color: var(--bg-black);
    transform: translateY(-3px);
    transition: all 0.3s ease 0s;
     border-radius: 15px;
}

/* main sectino  */
.main{
    background-size:cover  ;
    background:url(/images/Design.png) no-repeat;
    width:100%;
    height:100vh;
    background-position: right;
    animation-name: arun_animation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    font-family: var(--secondary-font);

}
@keyframes arun_animation {
    0% { opacity: 0; }
  100% { opacity: 1; }
    
}

.main h3{
    font-size: 5.4rem;
    font-weight: 700;
    font-family: var(--primary-font);

}
.main h6{
    font-size: 1.4rem;
    line-height: 1;
    font-family: var(--secondary-font);
    width:40%
}


/* buttons style and hover  */
.main .bt1{
    height:55px;
    width:133px;
    background-color:var(--bg-white) ;
    /* outline: none;
    border: none; */
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--bg-black);
}
.main .bt1:hover{
    color:var(--bg-light);
    background-image: var(--gradient);
    
    transform: translateY(-3px);
    transition: all 0.3s ease 0s;
     border-radius: 5px;
}
.main .bt2{
    height:55px;
    width:133px;
    background-image:var(--gradient) ;
    color: #eee;
    /* outline: none;
    border: none; */
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--bg-black);
}
.main .bt2:hover{
    color:var(--bg-black);
    background-image: var(--bg-white);
    
    transform: translateY(-3px);
    transition: all 0.3s ease 0s;
     border-radius: 5px;
}


/* ------------------------------------------- */
/* about */

.about img{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
}

.about img:hover{
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.35);
box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.35);


}

h1{
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--primary-font);
}

.progress{
    background-color: rgb(223, 219,219) ;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;

}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}
.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}
.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}
.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}
.pro-value5{
    animation: load5 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}
.pro-value6{
    animation: load6 3s normal forwards;
    border-radius: 50px;
    background-color:var(--secondary-color);
    height: 25px;
    width: 0;

}


.progress p{
    color: white;
    padding: 5px;
}
@keyframes load1{
    0%{
        width:0%;
    }
    100%{
        width:88%
    }
}
@keyframes load2{
    0%{
        width:0%;
    }
    100%{
        width:38%
    }
}
@keyframes load3{
    0%{
        width:0%;
    }
    100%{
        width:78%
    }
}
@keyframes load4{
    0%{
        width:0%;
    }
    100%{
        width:85%
    }
}
@keyframes load5{
    0%{
        width:0%;
    }
    100%{
        width:68%
    }
}
@keyframes load6{
    0%{
        width:0%;
    }
    100%{
        width:68%
    }
}